<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wattsup.alissa.myfootprint">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:label="@string/title_activity_splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyTotals"
            android:label="@string/title_activity_my_totals"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyAverages"
            android:label="@string/title_activity_my_averages"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DatabaseNumbers"
            android:label="@string/title_activity_database_numbers"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Recyclables"
            android:label="@string/title_activity_recyclables"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Facts"
            android:label="@string/title_activity_facts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Tips"
            android:label="@string/title_activity_tips"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Calculating"
            android:label="@string/title_activity_calculating"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CalculatorInput"
            android:label="@string/title_activity_calculator_input"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CalcCar"
            android:label="@string/title_activity_calc_car"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CalcNonMotor"
            android:label="@string/title_activity_calc_non_motor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CalcTrain"
            android:label="@string/title_activity_calc_train"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BuyInput"
            android:label="@string/title_activity_buy_input"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RecyclingInput"
            android:label="@string/title_activity_recycling_input"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CalcResults"
            android:label="@string/title_activity_calc_results"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>